<div
  echarts
  [options]="chartOption"
  [merge]="updateOption"
  class="demo-chart"
></div>

<section class="selectors">
  <div class="selector-wrapper">
    <!-- Radios to select a sensor -->
    <label id="sensor-radio-group-label">Pick a sensor</label>
    <mat-radio-group
      aria-labelledby="sensor-radio-group-label"
      class="radio-group"
      [(ngModel)]="selectedSensor"
      (ngModelChange)="onSensorChange()"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let sensor of sensorOptions"
        [value]="sensor.sensor"
      >
        {{ sensor.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="selector-wrapper">
    <!-- Radios to select query depth -->
    <label id="query-depth-radio-group-label">Pick a query depth</label>
    <mat-radio-group
      aria-labelledby="query-depth-radio-group-label"
      class="radio-group"
      [(ngModel)]="selectedQueryDepth"
      (ngModelChange)="onQueryDepthChange()"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let option of queryDepthOptions"
        [value]="option.depth"
      >
        {{ option.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</section>

<section class="overview-cards">
  <mat-card
    *ngFor="let module of modules$ | async"
    (click)="moduleClick(module.id!)"
  >
    <mat-card-header>
      <mat-card-title>{{ module.name }}</mat-card-title>
      <mat-card-subtitle
        >updated
        {{ module.lastReadout.timestamp | date: 'short' }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p><b>Gas:</b> {{ module.lastReadout.bme.gas }}</p>
      <p><b>Humidity:</b> {{ module.lastReadout.bme.humidity }}</p>
      <p><b>Pressure:</b> {{ module.lastReadout.bme.pressure }}</p>
      <p><b>Temperature:</b> {{ module.lastReadout.bme.temperature }}</p>
    </mat-card-content>
  </mat-card>
</section>
