<div
  *ngIf="chartOption$ | async as chartOption"
  echarts
  [options]="chartOption"
  class="demo-chart"
></div>

<!-- Radios to select a sensor -->
<label id="sensor-radio-group-label">Pick a sensor</label>
<mat-radio-group
  aria-labelledby="sensor-radio-group-label"
  class="sensor-radio-group"
  [(ngModel)]="selectedSensor"
  (ngModelChange)="updateSensorSelection()"
>
  <mat-radio-button
    class="sensor-radio-button"
    *ngFor="let sensor of sensors"
    [value]="sensor.sensor"
  >
    {{ sensor.name }}
  </mat-radio-button>
</mat-radio-group>

<section class="overview-cards">
  <mat-card
    *ngFor="let module of modules$ | async"
    (click)="moduleClick(module.id!)"
  >
    <mat-card-header>
      <mat-card-title>{{ module.name }}</mat-card-title>
      <mat-card-subtitle
        >updated
        {{ module.lastReadout.timestamp | date: 'short' }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p><b>Gas:</b> {{ module.lastReadout.bme.gas }}</p>
      <p><b>Humidity:</b> {{ module.lastReadout.bme.humidity }}</p>
      <p><b>Pressure:</b> {{ module.lastReadout.bme.pressure }}</p>
      <p><b>Temperature:</b> {{ module.lastReadout.bme.temperature }}</p>
    </mat-card-content>
  </mat-card>
</section>
