<mat-toolbar>
  <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  <span>Bright House SenSync</span>
</mat-toolbar>
<mat-drawer-container autoresize>
  <mat-drawer #drawer>
    <mat-nav-list>
      <a (click)="drawer.close()" mat-list-item routerLink="/">Home</a>
      <a
        (click)="drawer.close()"
        *ngFor="let module of modules$ | async"
        mat-list-item
        [routerLink]="['/modules', module.id]"
      >
        {{ module.name }} </a
      >>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
